div{
	width:400px;
	height:200px;
	background:#fef4eb;
	border:2px solid #f60;
	margin:0 auto;
}

input{
	border:0;
	color:#fff;
	cursor:pointer;
	font-weight:700;
	background:#f60;
	padding:2px 4px;
	margin:10px 0 0 10px;
}